#divlistspring{
	margin-bottom: 60px;
	margin-top: 60px;
}
#divdetail{
	background-color: #F8F8F8;
	border: 1px solid #C8C8C8;
	border-radius: 3px;
}
.glybtnleft {
	margin-left: 5px;
}
.sprintdetails{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}