#divdetail{
	background-color: #F8F8F8;
	border: 1px solid #C8C8C8;
	border-radius: 3px;
}
#headerproject{
	margin-bottom: 60px;
}
#btnback{
	position: absolute;
}
#btnedit{
	position: absolute;
	right: 10px;
	top: 10px;
}
