<!DOCTYPE html>
<html>
<head>
    <title th:text="#{title.home}"></title>
    <link rel="icon" th:href="@{/img/unicorn2.ico}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <script type="text/javascript" th:src="@{/js/fonctions.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<section class="container content-page">

    <div th:if="${errorMessage != null}" class="center-block">
        <h1 th:text="#{error}"></h1>
        <p th:text="${errorMessage}"></p>
        <a th:href="@{/home}">
            <button type="button" class="btn btn-default" th:text="#{back.to.menu}"></button>
        </a>
    </div>


    <div th:if="${httpErrorCode != null}" class="center-block">
        <h1 th:text="#{error}"></h1>
        <p th:text="${httpErrorCode + ' ' + errorMsg}"></p>
        <a th:href="@{/home}">
            <button type="button" class="btn btn-default" th:text="#{back.to.menu}"></button>
        </a>
    </div>

    <img th:unless="${errorMessage!= null || errorMsg!= null}" class="center-block" th:src="@{/img/erreur.gif}"/>
</section>
</body>
</html>


