<!DOCTYPE html>
<html>
<head>
    <title th:text="#{title.home}"></title>
    <link rel="icon" th:href="@{/img/unicorn2.ico}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/js/fonctions.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>

<body>

//REMPLACEMENT DE CETTE BALISE PAR LE CONTENU DU
// ./fragments/header.html
<div th:replace="fragments/header :: header"></div>

<section class="container content-page">



</section>

//REMPLACEMENT DE CETTE BALISE PAR LE CONTENU DU
// ./fragments/footer.html
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>