<!DOCTYPE html>
<html>
<head>
    <title>ITI - ScrumTracker</title>
    <link rel="icon" th:href="@{/img/unicorn2.ico}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/project.css}">
    <script type="text/javascript" th:src="@{/js/fonctions.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/project.js}"></script>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<section class="container content-page">

    <header id="headerproject">
        <a href="home" id="btnback" class="btn-md btn btn-default"><span
                class="glybtnleft glyphicon glyphicon-chevron-left"></span>Back to Projects list</a>
        <p class="h2 text-center">First Project</p>
    </header>

    <div id="divcontent" class="row">

        <div class="col-sm-3">
            <div id="divaddstoryunaffected">
                <button id="newStoryUnaffected" type="button" class="btn-md btn btn-primary" onclick="addNewStoryUnaffected()">
                    <span class="glybtnright glyphicon glyphicon-plus"></span>
                    <span th:text="#{new.story}"></span>
                </button>
                <div id="divaddnewstoryUnaffected">
                    <div class="form-group">
                        <label for="newstorynameUnaffected">Story name</label>
                        <input id="newstorynameUnaffected" type="text" class="form-control" name="newstorynameUnaffected" maxlength="50" required/>
                    </div>
                    <div class="form-group">
                        <label for="newstorydescriptionUnaffected">Story goals</label>
                        <textarea id="newstorydescriptionUnaffected" rows="3" class="form-control" name="newstorydescriptionUnaffected"></textarea>
                    </div>
                    <button id="createNewStory" type="button" class="btn-md btn btn-primary">
                    <span th:text="#{create.story}"></span>
                    </button>
                </div>
            </div>
            <div id="divMessage" class="text-center"></div>
            <ul id="divliststory" class="list-group">
                <p class="h2 text-left" id="storyNone" th:text="#{story.none}"></p>
            </ul>
        </div>

        <div class="col-sm-6">

            <div id="divaddsprint">
                <button id="newSprint" type="button" class="btn-md btn btn-primary" onClick="addNewSprint()">
                    <span class="glybtnright glyphicon glyphicon-plus"></span>
                    <span th:text="#{new.sprint}"></span>
                </button>
                <div id="divaddnewsprint">
                    <div class="form-group">
                        <label for="newsprintname">Sprint name</label>
                        <input id="newsprintname" type="text" class="form-control" name="newsprintname" maxlength="30"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="newsprintdescription">Sprint description</label>
                        <textarea id="newsprintdescription" rows="3" class="form-control"
                                  name="newsprintdescription"></textarea>
                    </div>
                    <button id="createnewSprint" type="button" class="btn-md btn btn-primary">
                        <span th:text="#{create.sprint}"></span>
                    </button>
                </div>
            </div>


            <div id="divlistsprint" class="list-group">


                <div class="sprint">
                    <div class="list-group-item storyinsprint" onclick="showSprint(this)">
                        <div class="padd2">
                            <span class="bold">Sprint 1</span>
                        </div>
                        <button class="btn btn-xs btn-default btnseetasks" onclick="location.href='sprints'">
                            <span th:text="#{see.tasks}"></span>
                            <span class="glybtnleft glyphicon glyphicon-chevron-right"></span>
                        </button>
                        <ul>
                            <li><a href="#" class="padd"><span class="fini">[Fini]</span>Story 1
                                    <div class="deleteStorylist">
                                        <button type="button" class="btnremove">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </li>
                            <li><a href="#" class="padd"><span class="fini">[Fini]</span>Story 2
                                    <div class="deleteStorylist">
                                        <button type="button" class="btnremove">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </li>
                            <li><a href="#" class="padd"><span class="fini">[Fini]</span>Story 3
                                    <div class="deleteStorylist">
                                        <button type="button" class="btnremove">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div>
                                    <button type="button" class="newStory btn-sm btn btn-primary" onclick="addNewStory(this)">
                                        <span class="glybtnright glyphicon glyphicon-plus"></span>
                                        <span th:text="#{new.story}"></span>
                                    </button>
                                    <div class="divaddnewstory" id="divaddnewstory1">
                                        <div class="form-group">
                                            <label for="newstoryname1">Story name</label>
                                            <input id="newstoryname1" type="text" class="form-control"
                                                   name="newstoryname1" maxlength="50" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="newstorydescription1">Story goals</label>
                                            <textarea id="newstorydescription1" rows="3"
                                                      class="form-control newstorydescription"
                                                      name="newstorydescription1"></textarea>
                                        </div>

                                        <button type="button" class="btn-sm btn btn-primary"><span th:text="#{create.story}"></span></button>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!--
                ---><div class="deletesprint">
                        <div>
                            <button type="button" class="btnremove"><span
                                    class="glyremove glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="sprint">
                    <div class="list-group-item storyinsprint" onclick="showSprint(this)">
                        <div class="padd2">
                            <span class="bold">Sprint 2</span>
                        </div>
                        <button class="btn btn-xs btn-default btnseetasks" onclick="location.href='sprints'">
                            <span th:text="#{see.tasks}"></span>
                            <span class="glybtnleft glyphicon glyphicon-chevron-right"></span>
                        </button>
                        <ul>

                            <li><a href="#" class="padd"><span class="fini">[Fini]</span>Story 1
                                    <div class="deleteStorylist">
                                        <button type="button" class="btnremove">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </li>
                            <li><a href="#" class="padd"><span class="en-cours">[En-cours]</span>Story 2
                                    <div class="deleteStorylist">
                                        <button type="button" class="btnremove">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </li>
                            <li><a href="#" class="padd"><span class="en-cours">[En-cours]</span>Story 3
                                    <div class="deleteStorylist">
                                        <button type="button" class="btnremove">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div>
                                    <button type="button" class="newStory btn-sm btn btn-primary" onclick="addNewStory(this)">
                                        <span class="glybtnright glyphicon glyphicon-plus"></span>
                                        <span th:text="#{new.story}"></span>
                                    </button>
                                    <div class="divaddnewstory" id="divaddnewstory2">
                                        <div class="form-group">
                                            <label for="newstoryname2">Story name</label>
                                            <input id="newstoryname2" type="text" class="form-control"
                                                   name="newstoryname2" maxlength="50" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="newstorydescription2">Story goals</label>
                                            <textarea id="newstorydescription2" rows="3"
                                                      class="form-control newstorydescription"
                                                      name="newstorydescription2"></textarea>
                                        </div>

                                        <button type="button" class="btn-sm btn btn-primary"><span th:text="#{create.story}"></span></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!--
                --><div class="deletesprint">
                        <div>
                            <button type="button" class="btnremove"><span
                                    class="glyremove glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="sprint">
                    <div class="list-group-item storyinsprint" onclick="showSprint(this)">
                        <div class="padd2">
                            <span class="bold">Sprint 3</span>
                        </div>
                        <button class="btn btn-xs btn-default btnseetasks" onclick="location.href='sprints'">
                            <span th:text="#{see.tasks}"></span>
                            <span class="glybtnleft glyphicon glyphicon-chevron-right"></span>
                        </button>
                        <ul>
                            <li>
                                <div>
                                    <button type="button" class="newStory btn-sm btn btn-primary" onclick="addNewStory(this)">
                                        <span class="glybtnright glyphicon glyphicon-plus"></span>
                                        <span th:text="#{new.story}"></span>
                                    </button>
                                    <div class="divaddnewstory" id="divaddnewstory3">
                                        <div class="form-group">
                                            <label for="newstoryname3">Story name</label>
                                            <input id="newstoryname3" type="text" class="form-control"
                                                   name="newstoryname3" maxlength="50" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="newstorydescription3">Story goals</label>
                                            <textarea id="newstorydescription3" rows="3"
                                                      class="form-control newstorydescription"
                                                      name="newstorydescription3"></textarea>
                                        </div>
                                        <button type="button" class="btn-sm btn btn-primary"><span th:text="#{create.story}"></span></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!--
                --><div class="deletesprint">
                        <div>
                            <button type="button" class="btnremove"><span
                                    class="glyremove glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="col-sm-3">

            <div class="divdetail">
                <div>
                    <p class="h4 text-center">Details Sprint</p>
                    <div>
                        <button type="button" class="btnedit btn-xs btn btn-default">
                            <span class="glyedit glyphicon glyphicon-edit"></span>
                        </button>
                    </div>
                </div>
                <p>Sprint name : xxx</p>
                <p>Creation date : xxx</p>
                <p>Total hours of works : xxx</p>
                <p>Number of Stories : xxx</p>
                <p>Description : xxx</p>
                <p>Last modification : xxx</p>
            </div>
            <div class="divdetail">
                <div>
                    <p class="h4 text-center">Details Story</p>
                    <div>
                        <button type="button" class="btnedit btn-xs btn btn-default">
                            <span class="glyedit glyphicon glyphicon-edit"></span>
                        </button>
                    </div>
                </div>
                <p>Story name : xxx</p>
                <p>Creation date : xxx</p>
                <p>State : xxx</p>
                <p>Total hours of works : xxx</p>
                <p>Number of tasks : xxx</p>
                <p>Goals : xxx</p>
            </div>

        </div>

    </div>

</section>

</body>
</html>