<!DOCTYPE html>
<html>
<head>
    <title>ITI - ScrumTracker</title>
    <link rel="icon" th:href="@{/img/unicorn2.ico}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/project.css}">
    <script type="text/javascript" th:src="@{/js/fonctions.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/project.js}"></script>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<section class="container content-page">

    <header id="headerproject">
        <a th:href="@{/home}" id="btnback" class="btn-md btn btn-default">
            <span class="glybtnleft glyphicon glyphicon-chevron-left"></span>
            <span th:text="#{back.to.menu}"></span>
        </a>
        <p th:if="${project.nom}" class="h2 text-center" th:text="${project.nom}"></p>
        <p th:unless="${project.nom}" class="h2 text-center" th:text="${'P:'+project.id}"></p>
    </header>

    <div id="divcontent" class="row">
        <div class="col-sm-3">
            <div id="divaddstoryunaffected">
                <button id="newStoryUnaffected" type="button" class="btn-md btn btn-primary" onclick="addNewStoryUnaffected()">
                    <span class="glybtnright glyphicon glyphicon-plus"></span>
                    <span th:text="#{new.story}"></span>
                </button>
                <div id="divaddnewstoryUnaffected">
                    <div class="form-group">
                        <label for="newstorynameUnaffected">Story name</label>
                        <input id="newstorynameUnaffected" type="text" class="form-control" name="newstorynameUnaffected" maxlength="50" required/>
                    </div>
                    <div class="form-group">
                        <label for="newstorydescriptionUnaffected">Story description</label>
                        <textarea id="newstorydescriptionUnaffected" rows="3" class="form-control" name="newstorydescriptionUnaffected"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="newstorypointsUnaffected" title="Story points are a unit of measure for expressing an estimate of the overall effort that will be required to fully implement a product backlog item or any other piece of work.">Story points estimation</label>
                        <input type="number" id="newstorypointsUnaffected" min="1" max="99" class="form-control" name="newstorypointsUnaffected">
                    </div>
                    <button id="createNewStory" type="button" class="btn-md btn btn-primary">
                        <span th:text="#{create.story}"></span>
                    </button>
                </div>
            </div>
            <div id="divMessage" class="text-left"></div>
            <ul id="divliststory" class="list-group">
                <p class="h2 text-left" id="storyNone" th:text="#{story.none}"></p>
            </ul>
        </div>

        <div class="col-sm-6">

            <div id="divaddsprint">
                <button id="newSprint" type="button" class="btn-md btn btn-primary" onClick="addNewSprint()">
                    <span class="glybtnright glyphicon glyphicon-plus"></span>
                    <span th:text="#{new.sprint}"></span>
                </button>
                <div id="divaddnewsprint">
                    <div class="form-group">
                        <label for="newsprintname">Sprint name</label>
                        <input id="newsprintname" type="text" class="form-control" name="newsprintname" maxlength="30"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="newSprintDateDebut">Date de d&eacutebut</label>
                        <input id="newSprintDateDebut" type="date" class="form-control"
                               name="newSprintDateDebut"/>
                    </div>
                    <div class="form-group">
                        <label for="newSprintDateFin">Date de fin</label>
                        <input id="newSprintDateFin" type="date" class="form-control"
                               name="newSprintDateFin"/>
                    </div>
                    <button id="createnewSprint" type="button" class="btn-md btn btn-primary">
                        <span th:text="#{create.sprint}"></span>
                    </button>
                </div>
                <div id="divlistsprint" class="list-group">
                </div>
            </div>
            <div id="divMessageSprint" class="text-left"></div>
            <ul id="messageSprint" class="list-group">
                <p class="h2 text-left" id="sprintNone" th:text="#{sprint.none}"></p>
            </ul>
        </div>

        <div class="col-sm-3">
            <div class="divdetail">
                <div>
                    <p class="h4 text-center">Details Story</p>
                    <div>
                        <button type="button" class="btnedit btn-xs btn btn-default">
                            <span class="glyedit glyphicon glyphicon-edit"></span>
                        </button>
                    </div>
                </div>
                <div id="detailsStory">
                </div>
            </div>

        </div>

    </div>

</section>

</body>
</html>