<!DOCTYPE html>
<html>
<head>
    <title>ITI - ScrumTracker</title>
    <link rel="icon" th:href="@{/img/unicorn2.ico}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dragula.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sprint.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/toastr.min.css}">
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fonctions.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <script type="text/javascript" th:src="@{/js/dragula.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/sprint.js}"></script>
    <script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<section class="container content-page">

    <header id="headerproject">
        <a th:if="${sprintProject}" th:href="@{'/project/'+${sprintProject.id}}" id="btnback"
           class="btn-md btn btn-default">
            <span class="glybtnright glyphicon glyphicon-chevron-left"></span>
            <span th:if="${sprintProject.nom}" th:text="${sprintProject.nom}"></span>
            <span th:unless="${sprintProject.nom}" th:text="${'P:'+sprintProject.id}"></span>
        </a>
        <p class="h2 text-center" th:text="${sprint.nom}"></p>
    </header>

    <div id="divcontent" class="row">

        <div class="col-sm-9">

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"><h4>TODO</h4></div>
                <div class="col-sm-3"><h4>DOING</h4></div>
                <div class="col-sm-3"><h4>DONE</h4></div>
            </div>
            <!-- task.status=='TODO' and -->
            <!-- th:if="${!(story.storyTasks).isEmpty()}" -->
            <div id="divlistories">

                <div class="story" th:each="story:${sprintStories}" th:id="${'storyId'+story.id}">
                    <div class="row">
                        <div class="col-sm-3">
                            <p><span class="bold" th:text="${story.nom}"></span></p>
                            <p>Creation date : <span th:text="${story.dateCreation}"></span></p>
                            <p>Description : <span th:text="${story.description}"></span></p>
                            <p>Story points estimation : <span th:text="${story.points}"></span></p>
                            <p>Status : <span th:text="${story.status}"></span></p>
                        </div>

                        <div class="col-sm-3 container TODO" th:id="${'todo'+story.id}">

                            <div th:each="task:${story.storyTasks}" class="task" th:id="${task.id}" th:if="${task.isTODO()}">
                                <a href="#" class="list-group-item padd">
                                    <div th:text="${task.nom}"></div>
                                    <div class="deletetask">
                                        <button type="button" class="btnremove" th:onclick="${'deleteTaskById('+task.id+')'}">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </div>

                        </div>

                        <div class="col-sm-3 container DOING" th:id="${'doing'+story.id}">

                            <div th:each="task:${story.storyTasks}" class="task" th:id="${task.id}" th:if="${task.isDOING()}">
                                <a href="#" class="list-group-item padd">
                                    <div th:text="${task.nom}"></div>
                                    <div class="deletetask">
                                        <button type="button" class="btnremove" th:onclick="${'deleteTaskById('+task.id+')'}">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </div>

                        </div>


                        <div class="col-sm-3 container DONE" th:id="${'done'+story.id}">

                            <div th:each="task:${story.storyTasks}" class="task" th:id="${task.id}" th:if="${task.isDONE()}">
                                <a href="#" class="list-group-item padd">
                                    <div th:text="${task.nom}"></div>
                                    <div class="deletetask">
                                        <button type="button" class="btnremove" th:onclick="${'deleteTaskById('+task.id+')'}">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3"></div>

                        <div class="col-sm-9">
                            <div>
                                <button type="button" class="newTask btn-sm btn btn-primary" onclick="showFormAddNewTask(this)">
                                    <span class="glybtn glyphicon glyphicon-plus"></span>
                                    <span th:text="#{new.task}"></span>
                                </button>
                                <div class="divaddnewtask" id="divaddnewtask">
                                    <div class="form-group">
                                        <label th:for="${'newtaskname'+story.id}">Task name</label>
                                        <input th:id="${'newtaskname'+story.id}" type="text" class="form-control" th:name="${'newtaskname'+story.id}"
                                               maxlength="50" required/>
                                    </div>
                                    <div class="form-group">
                                        <label th:for="${'newtaskdescription'+story.id}">Task description</label>
                                        <textarea th:id="${'newtaskdescription'+story.id}" rows="3" class="form-control"
                                                  th:name="${'newtaskdescription'+story.id}"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label th:for="${'newtasktotalhoursofwork'+story.id}" title="">Total hours of work</label>
                                        <input type="number" th:id="${'newtasktotalhoursofwork'+story.id}" min="0" max="99" class="form-control" th:name="${'newtasktotalhoursofwork'+story.id}">
                                    </div>
                                    <button type="button" class="btn-sm btn btn-primary" th:id="${'buttonAjouterTask'+story.id}" th:onclick="${'addNewTaskInStory('+story.id+')'}"><span
                                            th:text="#{create.task}"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                <script type="text/javascript" th:text="${'dragDrop('+story.id+')'}"></script>
                </div>

                <div class="row">
                    <div class="col-sm-9">
                        <button id="newStory" type="button" class="btn-md btn btn-primary" onclick="showFormAddNewStory()">
                            <span class="glybtnright glyphicon glyphicon-plus"></span>
                            <span th:text="#{new.story}"></span>
                        </button>
                        <div id="divaddnewstory">
                            <div class="form-group">
                                <label th:for="${'newstoryname'+sprint.id}" th:text="#{story.name}"></label>
                                <input th:id="${'newstoryname'+sprint.id}" type="text" class="form-control" th:name="${'newstoryname'+sprint.id}" maxlength="50" required/>
                            </div>
                            <div class="form-group">
                                <label th:for="${'newstorydescription'+sprint.id}" th:text="#{story.description}"></label>
                                <textarea th:id="${'newstorydescription'+sprint.id}" rows="3" class="form-control newstorydescription" th:name="${'newstorydescription'+sprint.id}"></textarea>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label  th:for="${'newstorystatus'+sprint.id}" th:text="#{story.status}"></label>
                                    <br/>
                                    <select th:id="${'newstorystatus'+sprint.id}" class="selectpicker col-sm-4" data-container="body">
                                        <option th:each="stat:${status}"
                                                th:value="${stat}"
                                                th:text="${stat}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label th:for="${'newstorypoints'+sprint.id}" title="Story points are a unit of measure for expressing an estimate of the overall effort that will be required to fully implement a product backlog item or any other piece of work.">Story points estimation</label>
                                    <input type="number" th:id="${'newstorypoints'+sprint.id}" min="1" max="99" class="form-control" th:name="${'newstorypoints'+sprint.id}">
                                </div>
                            </div>
                            <button type="button" class="btn-md btn btn-primary" th:onclick="${'creerStoryDansSprint('+sprint.id+')'}"><span th:text="#{create.story}"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>

            </div>

        </div>


        <div id="divdetail" class="col-sm-3">

            <p class="h4 text-center">Details Task</p>
            <button id="btnedit" type="button" class="btn-xs btn btn-default" onclick=""><span
                    class="glybtnright glyphicon glyphicon-edit"></span>Edit
            </button>
            <p><b>Task name :</b> <span id="taskDetails_nom"></span></p>
            <p><b>Creation date :</b> <span id="taskDetails_dateCreation"></span></p>
            <p><b>Amount of work :</b> <span id="taskDetails_totalHoursOfWork"></span></p>
            <p><b>Description :</b> <span id="taskDetails_description"></span></p>
        </div>

    </div>


</section>

</body>
</html>