<!DOCTYPE html>
<html>
<head>
    <title>ITI - ScrumTracker</title>
    <link rel="icon" th:href="@{/img/unicorn2.ico}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dragula.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sprint.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/toastr.min.css}">
    <script type="text/javascript" th:src="@{/js/fonctions.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <script type="text/javascript" th:src="@{/js/dragula.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/sprint.js}"></script>
    <script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<section class="container content-page">

    <header id="headerproject">
        <a th:if="${sprintProject}" th:href="@{'/project/'+${sprintProject.id}}" id="btnback"
           class="btn-md btn btn-default">
            <span class="glybtnright glyphicon glyphicon-chevron-left"></span>
            <span th:if="${sprintProject.nom}" th:text="${sprintProject.nom}"></span>
            <span th:unless="${sprintProject.nom}" th:text="${'P:'+sprintProject.id}"></span>
        </a>
        <p class="h2 text-center" th:text="${sprint.nom}"></p>
    </header>

    <div id="divcontent" class="row">

        <div class="col-sm-9">

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"><h4>TODO</h4></div>
                <div class="col-sm-3"><h4>DOING</h4></div>
                <div class="col-sm-3"><h4>DONE</h4></div>
            </div>

            <div id="divlistories">

                <div class="story" th:each="story:${sprintStories}" th:id="${'storyId'+story.id}">
                    <div class="row">
                        <div class="col-sm-3">
                            <p><span class="bold" th:text="${story.nom}"></span></p>
                            <p>Creation date : <span th:text="${story.dateCreation}"></span></p>
                            <p>Story points estimation : <span th:text="${story.points}"></span></p>
                            <p>Description : <span th:text="${story.description}"></span></p>
                        </div>

                        <div class="col-sm-3 container" id="TODO">
                            <div class="task">
                                <a href="#" class="list-group-item padd">Task 1 (static)
                                    <div class="deletetask">
                                        <button type="button" class="btnremove">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="task">
                                <a href="#" class="list-group-item padd">Task 2 (static)
                                    <div class="deletetask">
                                        <button type="button" class="btnremove">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="task">
                                <a href="#" class="list-group-item padd">Task 5 (static)
                                    <div class="deletetask">
                                        <button type="button" class="btnremove">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </div>

                        </div>

                        <div class="col-sm-3 container" id="DOING">
                            <div class="task">
                                <a href="#" class="list-group-item padd">Task 3 (static)
                                    <div class="deletetask">
                                        <button type="button" class="btnremove">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="col-sm-3 container" id="DONE">
                            <div class="task">
                                <a href="#" class="list-group-item padd">Task 4 (static)
                                    <div class="deletetask">
                                        <button type="button" class="btnremove">
                                            <span class="glyremovelist glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3"></div>

                        <div class="col-sm-9">
                            <div>
                                <button type="button" class="newTask btn-sm btn btn-primary" onclick="addNewTask(this)">
                                    <span class="glybtn glyphicon glyphicon-plus"></span>
                                    <span th:text="#{new.task}"></span>
                                </button>
                                <div class="divaddnewtask" id="divaddnewtask1">
                                    <div class="form-group">
                                        <label for="newtaskname1">Task name</label>
                                        <input id="newtaskname1" type="text" class="form-control" name="newtaskname1"
                                               maxlength="50" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="newtaskdescription1">Task description</label>
                                        <textarea id="newtaskdescription1" rows="3" class="form-control"
                                                  name="newtaskdescription1"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="newtasktotalhoursofwork1" title="">Total hours of work</label>
                                        <input type="number" id="newtasktotalhoursofwork1" min="0" max="99" class="form-control" name="newtasktotalhoursofwork1">
                                    </div>
                                    <button type="button" class="btn-sm btn btn-primary"><span
                                            th:text="#{create.task}"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <button id="newStory" type="button" class="btn-md btn btn-primary" onclick="addNewStory()">
                            <span class="glybtnright glyphicon glyphicon-plus"></span>
                            <span th:text="#{new.story}"></span>
                        </button>
                        <div id="divaddnewstory">
                            <div class="form-group">
                                <label for="newstoryname">Story name</label>
                                <input id="newstoryname" type="text" class="form-control" name="newstorynameUnaffecte"
                                       maxlength="50" required/>
                            </div>
                            <div class="form-group">
                                <label for="newstorydescription">Story goals</label>
                                <textarea id="newstorydescription" rows="3" class="form-control"
                                          name="newstorydescription"></textarea>
                            </div>
                            <button type="button" class="btn-md btn btn-primary"><span th:text="#{create.story}"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>

            </div>

        </div>


        <div id="divdetail" class="col-sm-3">

            <p class="h4 text-center">Details Task</p>
            <button id="btnedit" type="button" class="btn-xs btn btn-default" onclick=""><span
                    class="glybtnright glyphicon glyphicon-edit"></span>Edit
            </button>
            <p>Task name : xxx</p>
            <p>Creation date : xxx</p>
            <p>Total hours of works : xxx</p>
            <p>Description : xxx</p>
        </div>

    </div>


</section>

</body>
</html>