.h2{
	margin-bottom: 30px;
}
.glybtnleft {
	margin-left: 5px;
}
.glybtnright{
	margin-right: 5px;
}
#logo-menu{
	margin-right:12px;
	margin-top:-5px;
}
.bold{
	font-weight: bold;
	height: 25px;
	line-height: 25px;
}
.glyedit{
	font-size: 17px;
}