.content-page{
	margin-bottom: 50px;
}
.h2{
	margin-bottom: 30px;
}
.glybtnleft {
	margin-left: 5px;
}
.glybtnright{
	margin-right: 5px;
}
#logo-menu{
	margin-right:12px;
	margin-top:-5px;
}
.bold{
	font-weight: bold;
	height: 25px;
	line-height: 25px;
}
.glyedit{
	font-size: 17px;
}
/*Chaque élément non fonctionnel de l'application est provisoirement affecté à la classe "hiddenElement".
/*Cela permet de n'afficher aucun lien mort ou fonctionnalité incomplète.*/
.hiddenElement{
	display: none;
}