.glybtn {
	margin-right: 10px;
}
.h2{
	margin-bottom: 30px;
}
.glybtnleft {
	margin-left: 5px;
}
.glybtnright{
	margin-right: 5px;
}
#logo-menu{
	margin-right:12px;
	margin-top:-5px;
}

div#spacer-menu{
	height: 50px;
}