<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" th:href="@{home}"><span><img id="logo-menu" th:src="@{/img/Unicorn-30.png}"></span><span>ScrumTracker</span></a> </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li th:classappend="${isHomePage} ? active"><a th:href="@{/home}" th:text="#{project.new}"></a></li>
                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span th:text="#{projects}"></span><span class="caret"></span> </a>
                        <ul class="dropdown-menu" id="projectsListMenu">
                            <li id="menuProjectsNoData"><a th:text="#{no.data}"></a></li>
                            <li class="menuProject" th:each="project:${projects}"><a th:href="@{'/project/'+${project.id}}" th:text="${project.nom}"></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span th:text="#{sprints}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="sprintsListMenu">
                            <li id="menuSprintsNoData"><a  th:text="#{no.data}"></a></li>
                            <li class="menuSprint" th:each="sprint:${sprints}"><a th:href="@{'/sprint/'+${sprint.id}}" th:text="${sprint.nom}"></a></li>

                        </ul>
                    </li>
                    <li style="display: none"><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="height: 50px;"></div>
</header>
