<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{home}" th:text="#{scrumtracker}"></a>
            </div>
            <ul class="nav navbar-nav">
                <li th:classappend="${isHomePage} ? active"><a href="#" th:text="#{home}"></a></li>
                <li th:classappend="${isProjectPage} ? active : a"><a href="#"></a></li>
                <li th:classappend="${isSprintPage} ? active : a"><a href="#"></a></li>
                <li th:classappend="${isStoryPage} ? active : a"><a href="#"></a></li>
            </ul>
        </div>
    </nav>
</header>